<!-- navbar.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Validador de CPF</title>
</head>
<body class="custom-bg">
<nav class="navbar">
    <ul class="lista">
        <li><a href="/" {%if p_atual == 'gera'%}class="p-atual"{%endif%}>Gerar</a></li>
        <li><a href="/outra-rota" {%if p_atual == 'valida'%}class="p-atual"{%endif%}>Validar</a></li>
    </ul>
</nav>
</body>
</html>